@import url('https://fonts.googleapis.com/css?family=Montserrat');

.hamburger {
  position: relative;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //margin: auto;
}

.menu {
  height: 32px;
  width: 32px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }
}

.hambergerIcon {
  height: 5px;
  width: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 16px;
  background-color: #4A2545;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s;

  &::before, &::after {
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
  }

  &::before {
    top: -10px;
    left: 0;
    transform-origin: left;
  }

  &::after {
    bottom: -10px;
    right: 0;
    transform-origin: right;
  }
}

.open {
  transform: translate(-50%, -50%) rotate(135deg);

  &::before {
    top: 0;
    transform: translateX(100%) rotate(-90deg);
  }

  &::after {
    bottom: 0;
    transform: translateX(-100%) rotate(-90deg);
  }
}

