@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$my-theme-colors: (
        'primary':$primary,
        "secondary":$secondary,
        "warning":$warning,
        "danger":$danger,
        "info":$info,
        "success":$success,
        "light":$light,
        "dark":$dark,
        "purple":$purple,
        "bolota":#264653,
        "apple-red":#ff313b,
        "apple-green": #34c759,
        "apple-orange":#ff9500,
        "apple-yellow": #ffcc00,
        "apple-mint": #00c7be,
        "apple-teal":#30b0c7,
        "apple-cyan":#32ade6,
        "apple-blue":#007aff,
        "apple-indigo":#5856d6,
        "apple-purple":#af52de,
        "apple-pink":#ff2d55,
        "apple-brown":#a2845e,
        "apple-milk":#f5f5f7
);
$theme-colors: map-merge($theme-colors, $my-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $my-theme-colors);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");




@import "bootstrap/scss/bootstrap";